/* Universal */

html { 
    font-size: 18px; 
}

body {
    font-family: Helvetica;
    line-height: 1.4;
}

.container {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
}

/* div {
    border: 1px solid black;
} */

/* Header */

header {
    height: 30rem;
    background-image: url(../images/glasses-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 1rem;
}

@media only screen and (max-width: 768px) {
    header {
        height: 22rem;
        padding-top: 0;
    }
}

@media only screen and (max-width: 660px) {
    header {
        height: 17rem;
        background-position: 20%;
    }
}

nav {
    display: flex;
    align-items: center;
    background-color: cadetblue;
}

@media only screen and (max-width: 768px) {
    nav {
        position: fixed;
    }
}

.mobile-nav {
    display: none;
}

@media only screen and (max-width: 660px) {
    .menu {
        display: none;
    }

    .mobile-nav {
        display: block;
    }
}

.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.logo img {
    height: 1.5rem;
    padding: 0 1rem 0 2rem;
}

.logo span {
    font-size: 1rem;
    color: white;
    text-align: center;
}

ul {
    display: flex;
    align-items: center;
}

li {
    color: white;
    padding: 1rem;
}

.flex.container {
    display: flex;
    justify-content: flex-end;
}

.main-banner {
    background-color: white;
    margin-top: 10rem;
    margin-right: -2rem;
}

@media only screen and (max-width: 768px) {
    .main-banner {
        margin-top: 10rem;
        margin-right: 2rem;
    }
}

@media only screen and (max-width: 660px) {
    .flex.container {
        display: inline-block;
    }
    
    .main-banner {
        margin: 12rem 0;
    }
}

.main-banner h1 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;
    padding: 1.5rem 5rem;
}

@media only screen and (max-width: 768px) {
    .main-banner h1 {
        font-size: 1.33rem;
        padding: 0.75rem 4rem;
    }
}

@media only screen and (max-width: 660px) {
    .main-banner h1 {
        font-size: 1rem;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

/* Services */

.service-container {
    display: flex;
    justify-content: center;
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 3rem;
    height: 8rem;
    width: 5rem;
}

@media only screen and (max-width: 660px) {
    .service-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.77rem;
    }

    .service {
        margin: 1.54rem;
        height: 5rem;
    }
}

.service img.paper {
    width: 3.5rem;
}

.service img.ruler {
    width: 5rem;
}

.service img.truck {
    width: 5rem;
}

/* Information */

.info {
    width: 35%;
    margin: 5%;
}

.title {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    width: 10rem;
    background-color: cadetblue;
    display: inline-block;
    padding: 0.5rem 0 0.5rem 1.25rem;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 660px) {
    section.container {
        flex-direction: column;
        align-items: center;
        font-size: 0.77rem;
    }

    .info {
        width: 100%;
    }

    .title {
        width: 100%;
        text-align: center;
    }
}

/* Footer */

footer {
    background-color: azure;
}

footer img {
    height: 1.5rem;
    margin: 4rem 1rem 4rem 4rem;
}

footer span {
    margin-top: 4rem;
}

@media only screen and (max-width: 660px) {
    footer {
        display: flex;
        justify-content: center;
    }

    footer img {
        margin: 4rem;
    }

    footer span {
        display: none;
    }
}